<div class="container">
  <form class="addpatient-form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Patient Name</mat-label>
      <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Patient Address</mat-label>
      <textarea matInput [(ngModel)]="address" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
  </form>
  <p>Route Map</p>
  <br/>
  <div *ngIf="dataSource.data.length>0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> fromTime </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> uptoTime </th>
        <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Place/Location*</mat-label>
    <input matInput [(ngModel)]="currentInput.location">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>From time*</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="currentInput.startTime">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Upto time (optional)</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="currentInput.endTime">
  </mat-form-field>
  <br/>
  <button mat-stroked-button (click)="saveCurrentInput()">Add Location</button>
  <button mat-stroked-button (click)="clear()">Clear All</button><br/><br/>
  <button mat-stroked-button (click)="submit()">Submit</button>
</div>