<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap" rel="stylesheet">
</head>

<header class="header">
  <a href="" class="logo">COVID MAP TRACE</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label (click)="openMenu()" class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu" id="list">
    <li (click)="closeMenu()"><a routerLink="home">HOME</a></li>
    <li (click)="closeMenu()"><a routerLink="map">MAP</a></li>
    <li (click)="closeMenu()"><a routerLink="trace">TRACE</a></li>
    <li (click)="closeMenu()"><a routerLink="admin">ADMIN</a></li>
  </ul>
</header>

<router-outlet></router-outlet>