<div class="content">
  <div *ngIf="authService.isLoggedIn; else showSignin" align="center">
    <p *ngIf="currentUser">Hello {{ currentUser.email }}!</p>
    <p>'Add patient' form to be added</p>
    <mat-card-actions>
      <div>
        <button mat-button (click)="signOut()">Sign out</button>
      </div>
    </mat-card-actions>
  </div>
  <ng-template #showSignin>
    <div align="center">
      <p>Sign in to add new patients</p>
      <app-signin-form></app-signin-form>
    </div>
  </ng-template>
</div>