<div class="content">
  <p>Sign in to add new patients</p>
  <mat-card class="signin-card">
    <form class="signin-form">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="passwordFormControl" placeholder="******">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-card-actions>
      <div align=center>
        <button mat-button>Sign In</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>