<h3>Get your Google maps time line data: </h3>
   <div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext">1 / 8</div>
      <img src="../../assets/images/instruction (0).jpeg" style="width:50%">
      <div class="text">Caption Three</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">2 / 8</div>
      <img src="../../assets/images/instruction (1).jpeg" style="width:50%">
      <div class="text">Caption Three</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">3 / 8</div>
      <img src="../../assets/images/instruction (2).jpeg" style="width:50%">
      <div class="text">Caption Three</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">4 / 8</div>
      <img src="../../assets/images/instruction (3).jpeg" style="width:50%">
      <div class="text">Caption Three</div>
    </div>
   <div class="mySlides fade">
     <div class="numbertext"> 5 / 8</div>
     <img src="../../assets/images/instruction (4).jpeg" style="width:50%">
     <div class="text">Caption Text</div>
   </div>
   
   <div class="mySlides fade">
     <div class="numbertext">6 / 8</div>
     <img src="../../assets/images/instruction (5).jpeg" style="width:50%">
     <div class="text">Caption Two</div>
   </div>
   
   <div class="mySlides fade">
     <div class="numbertext">7 / 8</div>
     <img src="../../assets/images/instruction (6).jpeg" style="width:50%">
     <div class="text">Caption Three</div>
   </div>
   <div class="mySlides fade">
    <div class="numbertext">8 / 8</div>
    <img src="../../assets/images/instruction (7).jpeg" style="width:50%">
    <div class="text">Caption Three</div>
  </div>
  
   
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

   <a class="next" onclick="plusSlides(1)">&#10095;</a>
   
   </div>
   <br>
   
   <div style="text-align:center">
     <span class="dot" onclick="currentSlide(1)"></span> 
     <span class="dot" onclick="currentSlide(2)"></span> 
     <span class="dot" onclick="currentSlide(3)"></span>
     <span class="dot" onclick="currentSlide(4)"></span> 
     <span class="dot" onclick="currentSlide(5)"></span> 
     <span class="dot" onclick="currentSlide(6)"></span>
     <span class="dot" onclick="currentSlide(7)"></span> 
     <span class="dot" onclick="currentSlide(8)"></span> 
     
   </div> 


 