<div class="content" role="main">

    <!-- Resources -->
    <h2 class="myHeader">What is Covid Map Trace?</h2>
    <p class="whatIs">
      We are trying to make it easy for anyone around the world to compare their travel history after a global outbreak of a virus, to see if any possible contact with the virus by tracing the travel history of positively tested patients<br/>
      we used simple comparison of timestamp and distance calculation of geocordinates.<br/>
      The main use cases we see are:
    </p>
    <ul class="whatIs">
      <li>any user can report their case if they feel they might have been in contact with the patients, and the health department can provide them with necessary instructions for self isolation or medical help.</li>
      <li>assessment of location and time based spread of virus , in later stages to know precutions and areas to improve in future outbreaks.</li>
      <li>Tree strucutered transmission database of patients from the index patient onwards.</li>
    </ul>
   
   
  <!--   <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
        <span>Angular Blog</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
    </div> -->
  
    <h2>Steps to Trace Yourself</h2>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
    <ol type="1" class="steps-ol">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
    </ol> -->
    <app-instructions style="width: 100%; height: fit-content;"></app-instructions>
  
    <!-- Footer -->
    <footer>
        Stay Healthy. Stay Safe!
    </footer>
  
  </div>
  